body {
    font-family: Arial, sans-serif;
    background-image: url(https://cdna.artstation.com/p/assets/images/images/025/102/490/large/jorge-jacinto-wisp-red.jpg?1584627212);
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
   
}

.login-container {
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
    text-align: center;
}

.email, .password {
    text-align: left;
    color: black;
}

.input {
    border-radius: 30px;
    cursor: pointer;
}

h2 {
    color: #333;
}

label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

h1 {
    color: #f7f4f4;
    border-radius: 20px;
    text-align: center;
    font-weight: bolder;
    white-space: nowrap;
}

h2{
    color: #0e0909;
}

.forgot-password {
    display: block;
    margin-top: 10px;
    color: #0e0909;
    text-align: left;
    font-size: small;
    font-weight: bold;
}

.login-button {
    background-color: #226A80;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    width: 100%; /* Set width to 100% */
    margin-top: 10px; /* Add margin to push it down */
}


.login-button:hover {
    background-color:#0C4F60;
    opacity: 0.8;
    transition: 0.5s;
}

.no-account {
    margin-top: 20px;
    color: #171212;
    cursor: pointer;
}
.no-account  a {
    color:rgb(19, 18, 18);
    text-decoration: none;
    font-weight: bold;
}